
# THIS IS FOR WSL
# DATABASE_URL="postgresql://myuser:mypassword@localhost:5432/mydb?schema=public"

# LOCAL 
DATABASE_URL="postgresql://postgres:aliraza@localhost:5432/cui"
# DATABASE_URL="postgresql://postgres:aliraza@localhost:5432/cui-test-delete-this"

NODE_ENV="development"

BETTER_AUTH_SECRET=xDk6svCb3eRjg3iFPPea4IaD5OdSJFI6
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

DIRECTOR_EMAILS=DIRECTOR@EXAMPLE.COM;
ADMIN_EMAILS=ADMINTOBE@EXAMPLE.COM;

NODEMAILER_USER=USER.TO.SEND.EMAIL.FROM@gmail.com
NODEMAILER_APP_PASSWORD=GOOGLE_APP_PASSWORD


NEXT_PUBLIC_S3_BUCKET_NAME=S3_BUCKET_NAME

AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY

AWS_ENDPOINT_URL_S3=https://t3.storage.dev
AWS_ENDPOINT_URL_IAM=https://iam.storage.dev
AWS_REGION=auto

ARCJET_KEY=GET_FROM_AROJET_DASHBOARD
ARCJET_ENV=development
